<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <div class="container mt-4">
      <h1>Welcome to Bloggify</h1>
      <!-- Blog content will go here -->
    </div>
    <%- include("./partials/script") %>
  </body>
</html>
